rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow get: if request.auth.uid == userId;
      allow list: if isAdmin();
      allow update: if request.auth.uid == userId || isAdmin();
      allow create: if isAdmin();
    }

    match /users/{userId}/{document=**} {
      allow read, write: if request.auth.uid == userId || isAdmin();
    }

    match /products/{productId} {
      allow read: if true; // Everyone can read products
      allow create, update, delete: if isAdmin(); // Only admins can modify products
    }

    match /categories/{categoryId} {
      allow read: if true; // Everyone can read categories
      allow create, update, delete: if isAdmin(); // Only admins can modify categories
    }

    match /reviews/{reviewId} {
        allow read: if true;
        allow create: if request.auth.uid != null;
        allow update, delete: if isAdmin() || request.auth.uid == resource.data.userId;
    }

    match /orders/{orderId} {
        allow read, update: if isAdmin() || request.auth.uid == resource.data.userId;
        allow create: if request.auth.uid != null;
    }
  }
}
